.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 100px;
    padding-bottom: 60px;
    background-color: var(--bright);
    text-align: center;
    min-width: 400px;
}

.box .sec-msg {
    color: var(--light);
    font-size: smaller;
}

.box .main-msg {
    margin-bottom: 5px;
}

.box .logo {
    width: 140px;
    margin-bottom: 60px;
}

.box p {
    text-align: justify;
}

/* body {
    filter: grayscale(1);
} */