.bg-mask {
    background-color: black;
    z-index: 1;
    filter: opacity(20%);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
.modal {
    z-index: 2;
    display: none;
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--bright);
    /* border: solid 2px var(--light); */
    padding: 20px 20px 0px 20px;
    color: var(--secondary);
}

.modal-head {
    /* border-bottom: 1px solid var(--light); */
    padding-bottom: 30px;
}

.modal-head .modal-title {
    font-weight: bold;
}

.modal-head .modal-close svg {
    height: 10px;
    cursor: pointer;
    fill: var(--light);
}

.modal-body form {
    margin: 0;
}

.modal-body, .modal-body label {
    font-size: small;
    font-weight: normal;
}

.modal-body .modal-selection ul {
    list-style-type: none;
    display: inline;
}

.modal-body .modal-selection ul li, .modal-body .modal-selection ul label {
    display: inline;
}

.modal-body .modal-selection ul li {
    position: relative;
    top: 1px;
}

.modal-body .modal-checkbox {
    position: relative;
    top: 1px;
}

.modal-body .modal-option {

}

.modal-body .modal-button {
    margin: 15px 0 15px 0;
    padding: 0;
}

.modal-body textarea {
    height: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
}

.modal-body input[type="checkbox"], .modal-body input[type="radio"] {
    position: relative;
    top: 2px;
}