{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ song.title }}{% trans '的评论' %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'lib/js/rating-star.js' %}"></script>
    <script src="{% static 'js/rating-star-readonly.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}
        
            <section id="content">
                <div class="grid">
                    <div class="grid__main" id="main">
                        <div class="main-section-wrapper">
                            <div class="entity-reviews">
                                <h5 class="entity-reviews__title entity-reviews__title--stand-alone">
                                    <a href="{% url 'music:retrieve_song' song.id %}">{{ song.title }}</a>{% trans ' 的评论' %}
                                </h5>
                                <ul class="entity-reviews__review-list">
        
                                    {% for review in reviews %}
                                        
                                    <li class="entity-reviews__review entity-reviews__review--wider">
                                        
                                            <a href="{% url 'users:home' review.owner.id %}" class="entity-reviews__owner-link">{{ review.owner.username }}</a>
                                            {% if review.is_private %}
                                            <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17,8.48h-.73V6.27a6.27,6.27,0,1,0-12.53,0V8.48H3a.67.67,0,0,0-.67.67V19.33A.67.67,0,0,0,3,20H17a.67.67,0,0,0,.67-.67V9.15A.67.67,0,0,0,17,8.48ZM6.42,6.27h0a3.57,3.57,0,0,1,7.14,0h0V8.48H6.42Z"/></svg></span>
                                            {% endif %}
                                            <span class="entity-reviews__review-time">{{ review.edited_time }}</span>
                                        
        
                                        <span href="{% url 'music:retrieve_song_review' review.id %}" class="entity-reviews__review-title"><a href="{% url 'music:retrieve_song_review' review.id %}">{{ review.title }}</a></span>
                                            
                                    </li>
                                    {% empty %}
                                    <div>{% trans '无结果' %}</div>
                                    {% endfor %}
                                        
                                </ul>
                            </div>
                            <div class="pagination">
                            
                                {% if reviews.pagination.has_prev %}
                                <a href="?page=1" class="pagination__nav-link pagination__nav-link">&laquo;</a>
                                <a href="?page={{ reviews.previous_page_number }}"
                                    class="pagination__nav-link pagination__nav-link--right-margin pagination__nav-link">&lsaquo;</a>
                                {% endif %}
                            
                                {% for page in reviews.pagination.page_range %}
                            
                                {% if page == reviews.pagination.current_page %}
                                <a href="?page={{ page }}" class="pagination__page-link pagination__page-link--current">{{ page }}</a>
                                {% else %}
                                <a href="?page={{ page }}" class="pagination__page-link">{{ page }}</a>
                                {% endif %}
                            
                                {% endfor %}
                            
                                {% if reviews.pagination.has_next %}
                                <a href="?page={{ reviews.next_page_number }}"
                                    class="pagination__nav-link pagination__nav-link--left-margin">&rsaquo;</a>
                                <a href="?page={{ reviews.pagination.last_page }}" class="pagination__nav-link">&raquo;</a>
                                {% endif %}
                            
                            </div>
                        </div>
                    </div>
        
                    <div class="grid__aside" id="aside">
                        <div class="aside-section-wrapper">
                            <div class="entity-card">
                                <div class="entity-card__img-wrapper">
                                    <a href="{% url 'music:retrieve_song' song.id %}"><img src="{{ song.cover|thumb:'normal' }}" alt=""
                                            class="entity-card__img"></a>
                                </div>
                                <div class="entity-card__info-wrapper">
                                    <h5 class="entity-card__title"><a href="{% url 'music:retrieve_song' song.id %}">
                                            {{ song.title }}
                                        </a>
                                        <a href="{{ song.source_url }}"><span class="source-label source-label__{{ song.source_site }}">{{ song.get_source_site_display }}</span></a>
                                    </h5>
                                
                                    <div>{% if song.artist %}{% trans '艺术家：' %}
                                        {% for artist in song.artist %}
                                        <span {% if forloop.counter > 5 %}style="display: none;" {% endif %}>
                                            <span class="artist">{{ artist }}</span>
                                            {% if not forloop.last %} / {% endif %}
                                        </span>
                                        {% endfor %}
                                        {% if song.artist|length > 5 %}
                                        <a href="javascript:void(0);" id="artistMore">{% trans '更多' %}</a>
                                        <script>
                                            $("#artistMore").click(function (e) {
                                                $("span.artist:not(:visible)").each(function (e) {
                                                    $(this).parent().removeAttr('style');
                                                });
                                                $(this).remove();
                                            })
                                        </script>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div>{% if song.genre %}{% trans '流派：' %}{{ song.genre }}{% endif %}</div>
                                    <div>{% if song.album %}{% trans '所属专辑：' %}
                                        <a href="{% url 'music:retrieve_album' song.album.id %}">{{ song.album }}</a>
                                        {% endif %}
                                    </div>
                                    
                                    <div>{% if song.release_date %}{% trans '发行日期：' %}{{ song.release_date }}{% endif %}</div>
                                    {% if song.rating %}
                                    {% trans '评分: ' %}<span class="entity-card__rating-star rating-star"
                                        data-rating-score="{{ song.rating | floatformat:"0" }}"></span>
                                    <span class="entity-card__rating-score rating-score">{{ song.rating }}</span>
                                    {% endif %}
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>

    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon  request.user.mastodon_site %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
        
    <script>

    </script>
</body>


</html>
