{% load static %}
{% if sentry_dsn %}
<script src="https://static.neodb.social/browser.sentry-cdn.com/7.7.0/bundle.min.js"></script>
<script>
    if (window.Sentry) Sentry.init({
      dsn: "{{ sentry_dsn }}",
      release: "NeoDB@{{ version_hash }}",
      environment: "{{ settings_module }}",
      tracesSampleRate: 1.0,
    });
</script>
{% endif %}
{% if jquery %}
<script src="https://static.neodb.social/cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% else %}
<script src="https://static.neodb.social/cdnjs.cloudflare.com/ajax/libs/cash/8.1.1/cash.min.js"></script>
{% endif %}
<script src="https://static.neodb.social/cdnjs.cloudflare.com/ajax/libs/htmx/1.8.0/htmx.min.js"></script>
<script src="https://static.neodb.social/unpkg.com/hyperscript.org@0.9.7.js"></script>
<link rel="stylesheet" href="{% static 'css/boofilsic.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/neo.css' %}">
<link rel="search"type="application/opensearchdescription+xml" title="{{ site_name }}" href="{% static 'opensearch.xml' %}">
