<footer class="footer">
    <div class="grid">
        <div class="footer__border">
            <a class="footer__link" target="_blank" href="https://donotban.com/@whitiewhite">作者长毛象</a>
            <a class="footer__link" target="_blank" href="{{ support_link }}">报告错误</a>
            <a class="footer__link" target="_blank" href="https://github.com/doubaniux/boofilsic" id="githubLink">Github</a>
            <a class="footer__link" target="_blank" href="https://patreon.com/tertius" id="sponsor">捐助项目</a>
            <a class="footer__link" target="_blank" href="/announcement/supported-sites/" id="supported-sites">支持的网站</a>
            <a class="footer__link" target="_blank" href="/announcement/" id="supported-sites">公告栏</a>
            <a class="footer__link" href="javascript:void();" id="version">V0.4.4</a>
        </div>
    </div>
</footer>