{% load static %}
{% load i18n %}
{% load admin_url %}
<section id="navbar">
    <nav class="navbar">
        <div class="grid">
            <div class="navbar__wrapper">

                <a href="{% url 'common:home' %}" class="navbar__logo">
                    <img src="{% static 'img/logo.svg' %}" alt="" class="navbar__logo-img">
                </a>
                <div class="navbar__search-box">
                    <!-- <input type="search" class="" name="q" id="searchInput" required="true" value="{% for v in request.GET.values %}{{ v }}{% endfor %}" -->
                    <input type="search" class="" name="q" id="searchInput" required="true" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}"
                        placeholder="搜索书影音游戏，或输入豆瓣、Steam、Spotify、IMDB、Bangumi条目链接">
                    <select class="navbar__search-dropdown" id="searchCategory">
                        <option value="all" {% if request.GET.c and request.GET.c != 'movie' and request.GET.c != 'book' or not request.GET.c %}selected{% endif %}>{% trans '任意' %}</option>
                        <option value="book" {% if request.GET.c and request.GET.c == 'book' %}selected{% endif %}>{% trans '书籍' %}</option>
                        <option value="movie" {% if request.GET.c and request.GET.c == 'movie' %}selected{% endif %}>{% trans '电影' %}</option>
                        <option value="music" {% if request.GET.c and request.GET.c == 'music' %}selected{% endif %}>{% trans '音乐' %}</option>
                        <option value="game" {% if request.GET.c and request.GET.c == 'game' %}selected{% endif %}>{% trans '游戏' %}</option>
                    </select>
                </div>
                <button class="navbar__dropdown-btn">• • •</button>
                <ul class="navbar__link-list">
                    
                    {% if request.user.is_authenticated %}
         
                        <a class="navbar__link" id="logoutLink" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                        <a class="navbar__link" href="{% url 'common:home' %}">{% trans '主页' %}</a>
                        {% if request.user.is_staff %}
                        <a class="navbar__link" href="{% admin_url %}">{% trans '后台' %}</a>
                        {% endif %}

                    {% else %}
                        <a class="navbar__link" href="{% url 'users:login' %}?next={{ request.path }}">{% trans '登录' %}</a>
                    {% endif %}
                </ul>

            </div>

        </div>
    </nav>
    <script>
            $("#searchInput").on('keyup', function (e) {
                // e.preventDefault();
                if (e.keyCode === 13) {
                    let q = $(this).val();
                    let c = $("#searchCategory").val();
                    if (q) {
                        let new_location = "{% url 'common:search' %}" + "?c=" + c + "&q=" + q;
                        setTimeout(function () { document.location.href = new_location; }, 150);
                    }
                }
            });
   
    </script>
</section>