{% load thumb %}
{% load highlight %}
{% load i18n %}
{% load l10n %}
<li class="entity-list__entity">
    <div class="entity-list__entity-img-wrapper">
        
        {% if music.category_name|lower == 'album' %}
            <a href="{% url 'music:retrieve_album' music.id %}">
                <img src="{{ music.cover|thumb:'normal' }}" alt="" class="entity-list__entity-img">
            </a>
        {% elif music.category_name|lower == 'song' %}
            <a href="{% url 'music:retrieve_song' music.id %}">
                <img src="{{ music.cover|thumb:'normal' }}" alt="" class="entity-list__entity-img">
            </a>
        {% endif %}
            
    </div>
    <div class="entity-list__entity-text">
        {% if editable %}
        <div class="collection-item-position-edit">
            {% if not forloop.first %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:move_up_item' form.instance.id collectionitem.id %}">▲</a>
            {% endif %}
            {% if not forloop.last %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:move_down_item' form.instance.id collectionitem.id %}">▼</a>
            {% endif %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:delete_item' form.instance.id collectionitem.id %}">✖</a>
        </div>
        {% endif %}

        <div class="entity-list__entity-title">
            
            {% if music.category_name|lower == 'album' %}
                <a href="{% url 'music:retrieve_album' music.id %}" class="entity-list__entity-link">                                                        
                    {% if request.GET.q %}
                    {{ music.title | highlight:request.GET.q }}
                    {% else %}
                    {{ music.title }}
                    {% endif %}
                </a>
            {% elif music.category_name|lower == 'song' %}
                <a href="{% url 'music:retrieve_song' music.id %}" class="entity-list__entity-link">                                                        
                    {% if request.GET.q %}
                    {{ music.title | highlight:request.GET.q }}
                    {% else %}
                    {{ music.title }}
                    {% endif %}
                </a>
            {% endif %}
                
            
            {% if not request.GET.c or not request.GET.c in categories %}
            <span class="entity-list__entity-category">[{{music.verbose_category_name}}]</span>
            {% endif %}
            <a href="{{ music.source_url }}">
                <span class="source-label source-label__{{ music.source_site }}">{{ music.get_source_site_display }}</span>
            </a>
        </div>

        {% if music.rating %}
        <div class="rating-star entity-list__rating-star" data-rating-score="{{ music.rating | floatformat:"0" }}"></div>
        <span class="entity-list__rating-score rating-score">{{ music.rating }}</span>
        {% else %}
        <div class="entity-list__rating entity-list__rating--empty"> {% trans '暂无评分' %}</div>
        {% endif %}

        <span class="entity-list__entity-info ">
            {% if music.artist %}{% trans '艺术家' %}:
            {% for artist in music.artist %}
            <span>{{ artist }}</span>
            {% if not forloop.last %} {% endif %}
            {% endfor %}
            {% endif %}
            
            {% if music.genre %}/ {% trans '流派' %}:
            {{ music.genre }}
            {% endif %}

            {% if music.release_date %}/ {% trans '发行日期' %}:
                {{ music.release_date }}
            {% endif %}
        </span>
        <span class="entity-list__entity-info entity-list__entity-info--full-length">

        </span>
        
        {% if music.brief %}
        <p class="entity-list__entity-brief">
            {{ music.brief }}
        </p>
        {% elif music.category_name|lower == 'album' %}
        <p class="entity-list__entity-brief">
            {% trans '曲目：' %}{{ music.track_list }}
        </p>
        {% else %}
        <!-- song -->
        <p class="entity-list__entity-brief">
            {% trans '所属专辑：' %}{{ music.album }}
        </p>
        {% endif %}
            
        <div class="tag-collection">
            {% for tag_dict in music.top_tags %}
            <span class="tag-collection__tag">
                <a href="{% url 'common:search' %}?tag={{ tag_dict.content }}">{{ tag_dict.content }}</a>
            </span>
            {% endfor %}
        </div>
        
        {% if collectionitem %}
        <div class="clearfix"></div>
        <div class="dividing-line dividing-line--dashed"></div>
        <div class="entity-marks" style="margin-bottom: 0;">
            <ul class="entity-marks__mark-list">
                <li class="entity-marks__mark">
                    <p class="entity-marks__mark-content" hx-target="this" hx-swap="innerHTML">
                        {% include "show_item_comment.html" %}
                    </p>
                </li>
            </ul>
        </div>
        {% endif %}

    </div>

</li>