{% load thumb %}
{% load highlight %}
{% load i18n %}
{% load l10n %}
<li class="entity-list__entity">
    <div class="entity-list__entity-img-wrapper">
        <a href="{% url 'games:retrieve' game.id %}">
            <img src="{{ game.cover|thumb:'normal' }}" alt="" class="entity-list__entity-img">
        </a>
    </div>
    <div class="entity-list__entity-text">
        {% if editable %}
        <div class="collection-item-position-edit">
            {% if not forloop.first %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:move_up_item' form.instance.id collectionitem.id %}">▲</a>
            {% endif %}
            {% if not forloop.last %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:move_down_item' form.instance.id collectionitem.id %}">▼</a>
            {% endif %}
            <a hx-target=".entity-list" hx-post="{% url 'collection:delete_item' form.instance.id collectionitem.id %}">✖</a>
        </div>
        {% endif %}

        <div class="entity-list__entity-title">
            <a href="{% url 'games:retrieve' game.id %}" class="entity-list__entity-link">
                {% if request.GET.q %}
                    {{ game.title | highlight:request.GET.q }}
                {% else %}
                    {{ game.title }}
                {% endif %}
            </a>
            
            {% if not request.GET.c or not request.GET.c in categories %}
            <span class="entity-list__entity-category">[{{item.verbose_category_name}}]</span>
            {% endif %}
            <a href="{{ game.source_url }}">
                <span class="source-label source-label__{{ game.source_site }}">{{ game.get_source_site_display }}</span>
            </a>
        </div>

        {% if game.rating %}
        <div class="rating-star entity-list__rating-star" data-rating-score="{{ game.rating | floatformat:"0" }}"></div>
        <span class="entity-list__rating-score rating-score">{{ game.rating }}</span>
        {% else %}
        <div class="entity-list__rating entity-list__rating--empty"> {% trans '暂无评分' %}</div>
        {% endif %}

        <span class="entity-list__entity-info entity-list__entity-info--full-length">

            {% if game.other_title %}{% trans '别名' %}:
            {% for other_title in game.other_title %}
            {{ other_title }}{% if not forloop.last %} {% endif %}
            {% endfor %}/
            {% endif %}

            {% if game.developer %}{% trans '开发商' %}:
            {% for developer in game.developer %}
            {{ developer }}{% if not forloop.last %} {% endif %}
            {% endfor %}/
            {% endif %}

            {% if game.genre %}{% trans '类型' %}:
            {% for genre in game.genre %}
            {{ genre }}{% if not forloop.last %} {% endif %}
            {% endfor %}/
            {% endif %}

            {% if game.platform %}{% trans '平台' %}:
            {% for platform in game.platform %}
            {{ platform }}{% if not forloop.last %} {% endif %}
            {% endfor %}
            {% endif %}

        </span>
        <p class="entity-list__entity-brief">
            {{ game.brief }}
        </p>

        <div class="tag-collection">
            {% for tag_dict in game.top_tags %}
            <span class="tag-collection__tag">
                <a href="{% url 'common:search' %}?tag={{ tag_dict.content }}">{{ tag_dict.content }}</a>
            </span>
            {% endfor %}
        </div>
        
        {% if collectionitem %}
        <div class="clearfix"></div>
        <div class="dividing-line dividing-line--dashed"></div>
        <div class="entity-marks" style="margin-bottom: 0;">
            <ul class="entity-marks__mark-list">
                <li class="entity-marks__mark">
                    <p class="entity-marks__mark-content" hx-target="this" hx-swap="innerHTML">
                        {% include "show_item_comment.html" %}
                    </p>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

</li>