.DS_Store
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code configuration files
.vscode/

# flake8
tox.ini

# Local sqlite3 db
*.sqlite3

# deployed media and static files
/media
/static
/scripts/

# generated css
/common/static/css/boofilsic.min.css
/common/static/css/boofilsic.css

# debug log file
/log
log

# conf folders
/conf
/neodb

# typesense folder
/typesense-data

# test coverage
.coverage
