dateparser
django~=3.2.10
django-hstore
django-markdownx @ git+https://github.com/alphatownsman/django-markdownx.git@e2637fe9a548084f6e084c33e91f13083d3b4673
django-sass
django-rq
django-hijack
meilisearch
easy-thumbnails
lxml
openpyxl
psycopg2
requests
filetype
setproctitle
tqdm
opencc
dnspython
typesense
