dateparser
django~=3.2.10
django-hstore
django-markdownx @ git+https://github.com/alphatownsman/django-markdownx.git@a8eb0775767b075f5a5d08eed09f89739f832cce
django-sass
django-rq
django-hijack
meilisearch
easy-thumbnails
lxml
openpyxl
psycopg2
requests
filetype
setproctitle
tqdm
opencc
dnspython
typesense
