{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'NiceDB - ' %}{{ title }}</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/boofilsic.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}
        
            <section id="content" class="container">
                <div class="grid">
                    <div class="single-section-wrapper" id="main">
                        <a href="{% url 'movies:scrape' %}"
                            class="single-section-wrapper__link single-section-wrapper__link--secondary">{% trans '>>> 试试一键剽取~ <<<' %}</a>
                        <form class="entity-form" action="{{ submit_url }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {% for field in form %}
                            
                            {% if field.id_for_label == 'id_is_series' %}
                            <label for="{{ field.id_for_label }}"
                                style="display: inline-block; position: relative;">{{ field.label }}</label>
                            {{ field }}
                            {% else %}
                            {% if field.id_for_label != 'id_id' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}
                            {{ field }}
                            {% endif %}
                            
                            {% endfor %}
                            
                            <input class="button" type="submit" value="{% trans '提交' %}">
                        </form>
                    </div>
        
            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>

    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
        
    <script>
        // mark required
        $("#content input[required]").each(function () {
                $(this).prev().prepend("*");
        })
        
        // `is_seires` checkbox                  
        $("#id_season, label[for='id_season']").hide();
        $("#id_episodes, label[for='id_episodes']").hide();
        $("#id_single_episode_length, label[for='id_single_episode_length']").hide();
        $('#id_is_series').change(
            function () {
                if ($(this).is(':checked')) {
                    $("#id_season, label[for='id_season']").show();
                    $("#id_episodes, label[for='id_episodes']").show();
                    $("#id_single_episode_length, label[for='id_single_episode_length']").show();
                } else {
                    $("#id_season, label[for='id_season']").hide();
                    $("#id_episodes, label[for='id_episodes']").hide();
                    $("#id_single_episode_length, label[for='id_single_episode_length']").hide();
                }
            }
        );
            
    </script>
</body>


</html>
