{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ title }}</title>
    <script src="https://cdn.staticfile.org/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}

            <section id="content" class="container">
                <div class="grid" class="single-section-wrapper">
                    {% if is_update and form.source_site.value != 'in-site' %}
                    <div style="float:right;padding-left:16px">
                        <div class="aside-section-wrapper">
                            <div class="action-panel">
                                <div class="action-panel__label">{% trans '源网站' %}: <a href="{{ form.source_url.value }}">{{ form.source_site.value }}</a></div>
                                <div class="action-panel__button-group">
                                    <form method="post" action="{% url 'movies:rescrape' form.id.value %}">
                                        {% csrf_token %}
                                        <input class="button" type="submit" value="{% trans '从源网站重新抓取' %}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="single-section-wrapper" id="main">
                   {% comment %} <a href="{% url 'movies:scrape' %}" class="single-section-wrapper__link single-section-wrapper__link--secondary">{% trans '>>> 试试一键剽取~ <<<' %}</a> {% endcomment %}
                        <form class="entity-form" action="{{ submit_url }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {% for field in form %}

                            {% if field.id_for_label == 'id_is_series' %}
                            <label for="{{ field.id_for_label }}"
                                style="display: inline-block; position: relative;">{{ field.label }}</label>
                            {{ field }}
                            {% else %}
                            {% if field.id_for_label != 'id_id' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}
                            {{ field }}
                            {% endif %}

                            {% endfor %}

                            <input class="button" type="submit" value="{% trans '提交' %}">
                        </form>
                    </div>

            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>



    <script>
        // mark required
        $("#content *[required]").each(function () {
            $(this).prev().prepend("*");
        });

        // when source site is this site, hide url input box and populate it with fake url
        // the backend would update this field
        if ($("select[name='source_site']").val() == "{{ this_site_enum_value }}") {
            $("input[name='source_url']").hide();
            $("label[for='id_source_url']").hide();
            $("input[name='source_url']").val("https://www.temp.com/" + Date.now() + Math.random());
        }
        $("select[name='source_site']").change(function () {
            let value = $(this).val();
            if (value == "{{ this_site_enum_value }}") {
                $("input[name='source_url']").hide();
                $("label[for='id_source_url']").hide();
                $("input[name='source_url']").val("https://www.temp.com/" + Date.now() + Math.random());
            } else {
                $("input[name='source_url']").show();
                $("label[for='id_source_url']").show();
                $("input[name='source_url']").val("");
            }
        });

    </script>
</body>


</html>