{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans '删除评论' %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
    
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}

            <section id="content">
                <div class="grid">
                    <div class="single-section-wrapper" id="main">
                        <h5>{% trans '确认删除这篇评论吗？' %}</h5>
                        
                        <div class="dividing-line"></div>


                        <div class="review-head">

                                <h5 class="review-head__title">
                                    {{ review.title }}
                                </h5>
                                {% if review.is_private %}
                                <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                            <path
                                                d="M17,8.48h-.73V6.27a6.27,6.27,0,1,0-12.53,0V8.48H3a.67.67,0,0,0-.67.67V19.33A.67.67,0,0,0,3,20H17a.67.67,0,0,0,.67-.67V9.15A.67.67,0,0,0,17,8.48ZM6.42,6.27h0a3.57,3.57,0,0,1,7.14,0h0V8.48H6.42Z" />
                                            </svg></span>
                                {% endif %}

                                <div class="review-head__body">
                                    <div class="review-head__info">

                                        <a href="{% url 'users:home' review.owner.id %}"
                                            class="review-head__owner-link">{{ review.owner.username }}</a>

                                        {% if mark %}

                                        {% if mark.rating %}
                                        <span class="review-head__rating-star rating-star"
                                            data-rating-score="{{ mark.rating | floatformat:"0" }}"></span>
                                        {% endif %}

                                        {% endif %}

                                        <span class="review-head__time">{{ review.edited_time }}</span>

                                    </div>
                                </div>


                        </div>
                        <div id="rawContent" class="delete-preview">
                            {{ form.content }}
                        </div>
                        {{ form.media }}
                                
                            <div class="dividing-line"></div>

                        <div class="clearfix">
                            <form action="{% url 'movies:delete_review' review.id %}" method="post" class="float-right">
                                {% csrf_token %}
                                <input class="button" type="submit" value="{% trans '确认' %}">
                            </form>
                            <button onclick="history.back()"
                                class="button button-clear float-right">{% trans '返回' %}</button>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        {% include "partial/_footer.html" %}
    </div>


    {% comment %}
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon  request.user.mastodon_site %}</div>
    <!--current user mastodon id-->
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}

    <script>

        $(".markdownx textarea").hide();
        $(".markdownx .markdownx-preview").show();
    </script>
</body>


</html>