{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url={% if url %}{{url}}{% else %}{% url 'common:home' %}{% endif %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/milligram/1.4.1/milligram.min.css">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_box.css' %}">
    <title>{% trans '错误' %}</title>
</head>
<body>
    <div class="box">

            <a href="{% url 'common:home' %}">
                <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">
            </a>
            <div class="main-msg">
                {{ msg }}
            </div>
            <div class="sec-msg">
                {% if secondary_msg %}
                {{ secondary_msg }}
                {% endif %}
            </div>

    </div>
        
</body>
</html>