{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% trans 'Nicedb - 主页' %}</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <script src="{% static 'js/mastodon.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/boofilsic_browse.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            <section id="navbar" class="navbar">
                <div class="container">
                    <nav class="clearfix">
                        <a href="{% url 'common:home' %}">
                            <img src="{% static 'img/logo.svg' %}" alt="" class="logo">
                        </a>
                        <input type="search" class="search-box" name="q" id="searchInput" required="true" placeholder="{% trans '搜索书影音，多个关键字以空格分割' %}">
                        <a class="nav-link" id="logoutLink" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                        <a class="nav-link" href="{% url 'common:home' %}">{% trans '主页' %}</a>
                        {% if request.user.is_staff %}   
                        <a class="nav-link" href="{% admin_url %}">{% trans '后台' %}</a>
                        {% endif %}
                    </nav>
                </div>
            </section>
        
            <section id="content" class="container">
                <div class="row">
                    <div id="main">
        
                        <div class="set" id="bookWish">
                            <h5 class="set-title">
                                {% trans '想读的书' %}
                            </h5>
                            {% if wish_books_more %}
                            <a href="{% url 'users:book_list' user.id 'wish' %}" class="more-link">{% trans '更多' %}</a>
                            {% endif %}
                                
                            <ul class="row set-item-list">
                                {% for wish_book_mark in wish_book_marks %}    
                                <li class="column column-20 set-item">
                                    
                                    <a href="{% url 'books:retrieve' wish_book_mark.book.id %}" >
                                        <img src="{{ wish_book_mark.book.cover.url }}" alt="" class="set-item-image">
                                        <span class="set-item-title">{{ wish_book_mark.book.title | truncate:15 }}</span>
                                    </a>
                                </li>
                                {% empty %}
                                <p class="set-empty">暂无记录</p> 
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="set" id="bookDo">
                            <h5 class="set-title">
                                {% trans '在读的书' %}
                            </h5>
                            {% if do_books_more %}
                            <a href="{% url 'users:book_list' user.id 'do' %}" class="more-link">{% trans '更多' %}</a>
                            {% endif %}
                                
                            <ul class="row set-item-list">
                                {% for do_book_mark in do_book_marks %}    
                                <li class="column column-20 set-item">
                                   
                                    <a href="{% url 'books:retrieve' do_book_mark.book.id %}" >
                                        <img src="{{ do_book_mark.book.cover.url }}" alt="" class="set-item-image">
                                        <span class="set-item-title">{{ do_book_mark.book.title | truncate:15 }}</span>
                                    </a>
                                </li>
                                {% empty %}
                                <p class="set-empty">暂无记录</p> 
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="set" id="bookCollect">
                            <h5 class="set-title">
                                {% trans '读过的书' %}
                            </h5>
                            {% if collect_books_more %}
                            <a href="{% url 'users:book_list' user.id 'collect' %}" class="more-link">{% trans '更多' %}</a>
                            {% endif %}
                                
                            <ul class="row set-item-list">
                                {% for collect_book_mark in collect_book_marks %}    
                                <li class="column column-20 set-item">
                            
                                    <a href="{% url 'books:retrieve' collect_book_mark.book.id %}" >
                                        <img src="{{ collect_book_mark.book.cover.url }}" alt="" class="set-item-image">
                                        <span class="set-item-title">{{ collect_book_mark.book.title | truncate:15 }}</span>
                                    </a>
                                </li>
                                {% empty %}
                                <p class="set-empty">暂无记录</p> 
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
        
                    <div id="aside">
                        <div class="aside-card mast-user" id="userInfoCard">
                            <div class="clearfix">
                                <img src="" class="info-avatar mast-avatar" alt="{{ user.username }}">
                                <a href="{% url 'users:home' user.id %}">
                                    <h5 class="info-name mast-displayname"></h5>
                                </a>
                            </div>
                            <p class="info-brief mast-brief"></p>
                            <!-- <a href="#" class="follow">{% trans '关注TA' %}</a> -->
                            
                            {% if request.user != user %}
                            <a href="{% url 'users:report' %}?user_id={{ user.id }}" class="report">{% trans '举报用户' %}</a>
                            {% endif %}
                                
                        </div>
                        <div class="relation-card" id="userRelationCard">
                            <h5 class="relation-label">
                                {% trans '关注的人' %}
                            </h5>
                            <a href="{% url 'users:following' user.id %}" class="more-link mast-following-more">{% trans '更多' %}</a>
                            <ul class="row mast-following relation-user-list">
                                <li class="column column-25 relation-user">
                                    <img src="" alt="" class="relation-avatar">
                                    <a class="relation-name"></a>
                                </li>
                            </ul>         
                            <h5 class="relation-label">
                                {% trans '被他们关注' %}
                            </h5>
                            <a href="{% url 'users:followers' user.id %}" class="more-link mast-followers-more">{% trans '更多' %}</a>
                            <ul class="row mast-followers relation-user-list">
                                <li class="column column-25 relation-user">
                                    <img src="" alt="" class="relation-avatar">
                                    <a class="relation-name"></a>
                                </li>
                            </ul>                    
                        </div>
                        
                        {% if request.user.is_staff %}                    
                        <div class="report-card" id="reportMessageCard">
                            <h5 class="report-label">{% trans '举报信息' %}</h5>
                            <ul class="report-list">
                                {% for report in reports %}                            
                                <li class="report-message">
                                    <a href="" class="report-user-link">{{ report.submit_user }}</a>{% trans '举报了' %}<a href="">{{ report.reported_user }}</a>
                                </li>
                                {% endfor %}
                                    
                            </ul>
                            <a href="{% url 'users:manage_report' %}">全部举报</a>
                        </div>
                        {% endif %}
                            
                    </div>
            </section>

        </div>
        <footer class="container">
            <a href="https://donotban.com/@whitiewhite">去长毛象向作者提意见</a>
            <a href="https://github.com/doubaniux/boofilsic/issues">报告错误</a>
            <a href="https://github.com/doubaniux/boofilsic" id="githubLink">Github</a>
        </footer>
    </div>

    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    <div id="userPageURL" hidden="true">{% url 'users:home' 0 %}?is_mastodon_id=true</div>
    <div class="spinner" id="spinner" hidden>
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>    
    <script>
        $("#searchInput").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let q = $(this).val();
                if (q)
                    location.href = "{% url 'common:search' %}" + "?q=" + q;
            }
        });
    </script>
</body>


</html>
