{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ site_name }} {% trans '收藏單' %} - {{ collection.title }}">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="{{ collection.owner.username }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_square.svg' %}">
    <title>{{ site_name }} {% trans '收藏单' %} - {{ collection.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'lib/js/rating-star.js' %}"></script>
    <script src="{% static 'js/rating-star-readonly.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}
        
            <section id="content">
                <div class="grid">
                    <div class="grid__main" id="main">
                        <div class="main-section-wrapper">
                            <div class="review-head">
                                <h5 class="review-head__title">
                                    {{ collection.title }}
                                </h5>
                                {% if collection.visibility > 0 %}
                                <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path
                                                d="M17,8.48h-.73V6.27a6.27,6.27,0,1,0-12.53,0V8.48H3a.67.67,0,0,0-.67.67V19.33A.67.67,0,0,0,3,20H17a.67.67,0,0,0,.67-.67V9.15A.67.67,0,0,0,17,8.48ZM6.42,6.27h0a3.57,3.57,0,0,1,7.14,0h0V8.48H6.42Z" />
                                            </svg></span>
                                {% endif %}
                                <div class="review-head__body">
                                    <div class="review-head__info">
                                      
                                            <a href="{% url 'users:home' collection.owner.id %}" class="review-head__owner-link">{{ collection.owner.mastodon_username }}</a>
                                            
                                                
                                            <span class="review-head__time">{{ collection.edited_time }}</span>
                                            
                                    </div>
                                    <div class="review-head__actions">
                                            {% if request.user == collection.owner %}
                                            <a class="review-head__action-link" href="{% url 'collection:update' collection.id %}">{% trans '编辑' %}</a>
                                            <a class="review-head__action-link" href="{% url 'collection:delete' collection.id %}">{% trans '删除' %}</a>
                                            {% endif %}
                                    </div>
                                </div>
                                <!-- <div class="dividing-line"></div> -->
                                <div id="rawContent">
                                    {{ form.description }}
                                </div>
                                {{ form.media }}
                            </div>
                            <div class="entity-list">
                                <ul class="entity-list__entities">
                                    {% for item in collection.collectionitem_list %}
                                    {% if item.item is not None %}
                                    <li class="entity-list__entity">
                                        <div class="entity-list__entity-img-wrapper">
                                            <a href="{{ item.item.get_absolute_url }}">
                                                <img src="{{ item.item.cover|thumb:'normal' }}" alt="" class="entity-list__entity-img">
                                            </a>
                                        </div>
                                        <div class="entity-list__entity-text">
                                            {% if editable %}
                                            <div style="float:right">
                                                {% if not forloop.first %}
                                                <a hx-post="{% url 'collection:move_up_item' form.instance.id item.id %}">▲</a>
                                                {% endif %}
                                                {% if not forloop.last %}
                                                <a hx-post="{% url 'collection:move_down_item' form.instance.id item.id %}">▼</a>
                                                {% endif %}
                                                <a hx-post="{% url 'collection:delete_item' form.instance.id item.id %}">✖</a>
                                            </div>
                                            {% endif %}
                                            <div class="entity-list__entity-title">
                                                <a href="{{ item.item.get_absolute_url }}">{{ item.item.title }}</a>
                                                <a href="{{ item.item.source_url }}">
                                                    <span class="source-label source-label__{{ item.item.source_site }}">{{ item.item.get_source_site_display }}</span>
                                                </a>
                                            </div>
                                            <span class="entity-list__entity-info entity-list__entity-info--full-length">
                                                <p class="entity-list__entity-brief">
                                                    {{ item.item.brief }}
                                                </p>
                                            </span>
                                            <div class="tag-collection">
                                                {% for tag_dict in item.item.tag_list %}
                                                {% for k, v in tag_dict.items %}
                                                {% if k == 'content' %}
                                                <span class="tag-collection__tag">
                                                    <a href="{% url 'common:search' %}?tag={{ v }}">{{ v }}</a>
                                                </span>
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="dividing-line dividing-line--dashed"></div>
                                            <div class="entity-marks" style="margin-bottom: 0;">
                                                <ul class="entity-marks__mark-list">
                                                    <li class="entity-marks__mark">
                                                        <p class="entity-marks__mark-content">{{ item.comment }}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% empty %}
                                    {% endfor %}
                                    {% if editable %}
                                    <li>
                                        <form action="{% url 'collection:append_item' form.instance.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="url" name="url" placeholder="https://neodb.social/movies/1/" style="min-width:24rem" required>
                                            <input type="text" name="comment" placeholder="{% trans '备注' %}" style="min-width:24rem">
                                            <input class="button" type="submit" value="{% trans '添加' %}">
                                        </form>
                                    </li>
                                    {% endif %}
                                </ul>

                            </div>

                        </div>
                        
                    </div>
                    <div class="grid__aside" id="aside">
                        <div class="aside-section-wrapper">
                            <div class="entity-card">
                                <div class="entity-card__img-wrapper">
                                    <a href="{% url 'collection:retrieve' collection.id %}"><img src="{{ collection.cover|thumb:'normal' }}" alt=""
                                            class="entity-card__img"></a>
                                </div>
                                <div class="entity-card__info-wrapper">
                                    <h5 class="entity-card__title">
                                        <a href="{% url 'collection:retrieve' collection.id %}">
                                            {{ collection.title }}
                                        </a>
                                    </h5>
                                    
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>

    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon  request.user.mastodon_site %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
    <script>
        $(".markdownx textarea").hide();
    </script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
</body>


</html>
