{% load thumb %}
{% load i18n %}
{% load l10n %}
<ul class="entity-list__entities">
    {% for collectionitem in collection.collectionitem_list %}
    {% if collectionitem.item is not None %}
    {% include "partial/list_item.html" with item=collectionitem.item %}
    {% endif %}
    {% empty %}
    {% endfor %}
    {% if editable %}
    <li>
        <form hx-target=".entity-list" hx-post="{% url 'collection:append_item' form.instance.id %}" method="POST">
            {% csrf_token %}
            <input type="url" name="url" placeholder="https://neodb.social/movies/1/" style="min-width:24rem" required>
            <input type="text" name="comment" placeholder="{% trans '备注' %}" style="min-width:24rem">
            <input class="button" type="submit" value="{% trans '添加' %}" >
        </form>
    </li>
    {% endif %}
</ul>
