{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if user == request.user %}
        <title>{{ site_name }} - {% trans '我的个人主页' %}</title>
    {% else %}
        <title>{{ site_name }} - {{user.display_name}}</title>
    {% endif %}

    {% include "partial/_common_libs.html" %}

    <script src="{% static 'js/mastodon.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}

            <section id="content">
                <div class="grid grid--reverse-order">
                    <div class="grid__main grid__main--reverse-order">

                        <div class="main-section-wrapper sortable">

                            <div class="entity-sort" id="bookWish">
                                <h5 class="entity-sort__label">
                                    {% trans '想读的书' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ wish_book_count }}
                                </span>
                                {% if wish_book_more %}
                                <a href="{% url 'users:book_list' user.mastodon_username 'wish' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}
                                <ul class="entity-sort__entity-list">
                                    {% for wish_book_mark in wish_book_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'books:retrieve' wish_book_mark.book.id %}">
                                            <img src="{{ wish_book_mark.book.cover|thumb:'normal' }}"
                                                alt="{{wish_book_mark.book.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{ wish_book_mark.book.title }}">
                                                {{ wish_book_mark.book.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="bookDo">
                                <h5 class="entity-sort__label">
                                    {% trans '在读的书' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ do_book_count }}
                                </span>
                                {% if do_book_more %}
                                <a href="{% url 'users:book_list' user.mastodon_username 'do' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for do_book_mark in do_book_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'books:retrieve' do_book_mark.book.id %}">
                                            <img src="{{ do_book_mark.book.cover|thumb:'normal' }}"
                                                alt="{{do_book_mark.book.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{do_book_mark.book.title}}">
                                                {{ do_book_mark.book.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="bookCollect">
                                <h5 class="entity-sort__label">
                                    {% trans '读过的书' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ collect_book_count }}
                                </span>
                                {% if collect_book_more %}
                                <a href="{% url 'users:book_list' user.mastodon_username 'collect' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for collect_book_mark in collect_book_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'books:retrieve' collect_book_mark.book.id %}">
                                            <img src="{{ collect_book_mark.book.cover|thumb:'normal' }}"
                                                alt="{{collect_book_mark.book.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collect_book_mark.book.title}}">{{ collect_book_mark.book.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="bookReviewed">
                                <h5 class="entity-sort__label">
                                    {% trans '评论过的书籍' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ book_reviews_count }}
                                </span>
                                {% if book_reviews_more %}
                                <a href="{% url 'users:book_list' user.mastodon_username 'reviewed' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for book_review in book_reviews %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'books:retrieve' book_review.book.id %}">
                                            <img src="{{ book_review.book.cover|thumb:'normal' }}"
                                                alt="{{book_review.book.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{book_review.book.title}}">{{ book_review.book.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="movieWish">
                                <h5 class="entity-sort__label">
                                    {% trans '想看的电影/剧集' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ wish_movie_count }}
                                </span>
                                {% if wish_movie_more %}
                                <a href="{% url 'users:movie_list' user.mastodon_username 'wish' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for wish_movie_mark in wish_movie_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'movies:retrieve' wish_movie_mark.movie.id %}">
                                            <img src="{{ wish_movie_mark.movie.cover|thumb:'normal' }}"
                                                alt="{{wish_movie_mark.movie.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{wish_movie_mark.movie.title}}">
                                                {{ wish_movie_mark.movie.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="movieDo">
                                <h5 class="entity-sort__label">
                                    {% trans '在看的电影/剧集' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ do_movie_count }}
                                </span>
                                {% if do_movie_more %}
                                <a href="{% url 'users:movie_list' user.mastodon_username 'do' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for do_movie_mark in do_movie_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'movies:retrieve' do_movie_mark.movie.id %}">
                                            <img src="{{ do_movie_mark.movie.cover|thumb:'normal' }}"
                                                alt="{{do_movie_mark.movie.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{do_movie_mark.movie.title}}">
                                                {{ do_movie_mark.movie.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="movieCollect">
                                <h5 class="entity-sort__label">
                                    {% trans '看过的电影/剧集' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ collect_movie_count }}
                                </span>
                                {% if collect_movie_more %}
                                <a href="{% url 'users:movie_list' user.mastodon_username 'collect' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for collect_movie_mark in collect_movie_marks %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'movies:retrieve' collect_movie_mark.movie.id %}">
                                            <img src="{{ collect_movie_mark.movie.cover|thumb:'normal' }}"
                                                alt="{{collect_movie_mark.movie.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collect_movie_mark.movie.title}}">{{ collect_movie_mark.movie.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="movieReviewed">
                                <h5 class="entity-sort__label">
                                    {% trans '评论过的电影/剧集' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ movie_reviews_count }}
                                </span>
                                {% if movie_reviews_more %}
                                <a href="{% url 'users:movie_list' user.mastodon_username 'reviewed' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for movie_review in movie_reviews %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'movies:retrieve' movie_review.movie.id %}">
                                            <img src="{{ movie_review.movie.cover|thumb:'normal' }}"
                                                alt="{{movie_review.movie.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{movie_review.movie.title}}">{{ movie_review.movie.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="musicWish">
                                <h5 class="entity-sort__label">
                                    {% trans '想听的音乐' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ wish_music_count }}
                                </span>
                                {% if wish_music_more %}
                                <a href="{% url 'users:music_list' user.mastodon_username 'wish' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for wish_music_mark in wish_music_marks %}
                                    <li class="entity-sort__entity">
                    
                                        
                                        {% if wish_music_mark.type == 'album' %}
                                        <a href="{% url 'music:retrieve_album' wish_music_mark.album.id %}">
                                            <img src="{{ wish_music_mark.album.cover|thumb:'normal' }}"
                                                alt="{{wish_music_mark.album.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{wish_music_mark.album.title}}">
                                                {{ wish_music_mark.album.title }}</div>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'music:retrieve_song' wish_music_mark.song.id %}">
                                            <img src="{{ wish_music_mark.song.cover|thumb:'normal' }}" alt="{{wish_music_mark.song.title}}"
                                                class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{wish_music_mark.song.title}}">
                                                {{ wish_music_mark.song.title }}</div>
                                        </a>
                                        {% endif %}
                                            
    
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="musicDo">
                                <h5 class="entity-sort__label">
                                    {% trans '在听的音乐' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ do_music_count }}
                                </span>
                                {% if do_music_more %}
                                <a href="{% url 'users:music_list' user.mastodon_username 'do' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for do_music_mark in do_music_marks %}
                                    <li class="entity-sort__entity">
                                        {% if do_music_mark.type == 'album' %}
                                        <a href="{% url 'music:retrieve_album' do_music_mark.album.id %}">
                                            <img src="{{ do_music_mark.album.cover|thumb:'normal' }}"
                                                alt="{{do_music_mark.album.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{do_music_mark.album.title}}">
                                                {{ do_music_mark.album.title }}</div>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'music:retrieve_song' do_music_mark.song.id %}">
                                            <img src="{{ do_music_mark.song.cover|thumb:'normal' }}"
                                                alt="{{do_music_mark.song.title}}" class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{do_music_mark.song.title}}">
                                                {{ do_music_mark.song.title }}</div>
                                        </a>
                                        {% endif %}
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="musicCollect">
                                <h5 class="entity-sort__label">
                                    {% trans '听过的音乐' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ collect_music_count }}
                                </span>
                                {% if collect_music_more %}
                                <a href="{% url 'users:music_list' user.mastodon_username 'collect' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for collect_music_mark in collect_music_marks %}
                                    <li class="entity-sort__entity">
                                        {% if collect_music_mark.type == 'album' %}
                                        <a href="{% url 'music:retrieve_album' collect_music_mark.album.id %}">
                                            <img src="{{ collect_music_mark.album.cover|thumb:'normal' }}"
                                                alt="{{collect_music_mark.album.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collect_music_mark.album.title}}">{{ collect_music_mark.album.title }}</span>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'music:retrieve_song' collect_music_mark.song.id %}">
                                            <img src="{{ collect_music_mark.song.cover|thumb:'normal' }}"
                                                alt="{{collect_music_mark.song.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collect_music_mark.song.title}}">{{ collect_music_mark.song.title }}</span>
                                        </a>
                                        {% endif %}
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="musicReviewed">
                                <h5 class="entity-sort__label">
                                    {% trans '评论过的音乐' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ music_reviews_count }}
                                </span>
                                {% if music_reviews_more %}
                                <a href="{% url 'users:music_list' user.mastodon_username 'reviewed' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for music_review in music_reviews %}
                                    <li class="entity-sort__entity">
                                        {% if music_review.type == 'album' %}
                                        <a href="{% url 'music:retrieve_album' music_review.album.id %}">
                                            <img src="{{ music_review.album.cover|thumb:'normal' }}"
                                                alt="{{music_review.album.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{music_review.album.title}}">{{ music_review.album.title }}</span>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'music:retrieve_song' music_review.song.id %}">
                                            <img src="{{ music_review.song.cover|thumb:'normal' }}"
                                                alt="{{music_review.song.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{music_review.song.title}}">{{ music_review.song.title }}</span>
                                        </a>
                                        {% endif %}
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="gameWish">
                                <h5 class="entity-sort__label">
                                    {% trans '想玩的游戏' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ wish_game_count }}
                                </span>
                                {% if wish_game_more %}
                                <a href="{% url 'users:game_list' user.mastodon_username 'wish' %}" class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}
                            
                                <ul class="entity-sort__entity-list">
                                    {% for wish_game_mark in wish_game_marks %}
                                    <li class="entity-sort__entity">
                            
                                        <a href="{% url 'games:retrieve' wish_game_mark.game.id %}">
                                            <img src="{{ wish_game_mark.game.cover|thumb:'normal' }}" alt="{{wish_game_mark.game.title}}"
                                                class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{wish_game_mark.game.title}}">
                                                {{ wish_game_mark.game.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="entity-sort" id="gameDo">
                                <h5 class="entity-sort__label">
                                    {% trans '在玩的游戏' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ do_game_count }}
                                </span>
                                {% if do_game_more %}
                                <a href="{% url 'users:game_list' user.mastodon_username 'do' %}" class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}
                            
                                <ul class="entity-sort__entity-list">
                                    {% for do_game_mark in do_game_marks %}
                                    <li class="entity-sort__entity">
                            
                                        <a href="{% url 'games:retrieve' do_game_mark.game.id %}">
                                            <img src="{{ do_game_mark.game.cover|thumb:'normal' }}" alt="{{do_game_mark.game.title}}"
                                                class="entity-sort__entity-img">
                                            <div class="entity-sort__entity-name" title="{{do_game_mark.game.title}}">
                                                {{ do_game_mark.game.title }}</div>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="entity-sort" id="gameCollect">
                                <h5 class="entity-sort__label">
                                    {% trans '玩过的游戏' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ collect_game_count }}
                                </span>
                                {% if collect_game_more %}
                                <a href="{% url 'users:game_list' user.mastodon_username 'collect' %}" class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}
                            
                                <ul class="entity-sort__entity-list">
                                    {% for collect_game_mark in collect_game_marks %}
                                    <li class="entity-sort__entity">
                            
                                        <a href="{% url 'games:retrieve' collect_game_mark.game.id %}">
                                            <img src="{{ collect_game_mark.game.cover|thumb:'normal' }}" alt="{{collect_game_mark.game.title}}"
                                                class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name" title="{{collect_game_mark.game.title}}">{{collect_game_mark.game.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="gameReviewed">
                                <h5 class="entity-sort__label">
                                    {% trans '评论过的游戏' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ game_reviews_count }}
                                </span>
                                {% if game_reviews_more %}
                                <a href="{% url 'users:game_list' user.mastodon_username 'reviewed' %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for game_review in game_reviews %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'games:retrieve' game_review.game.id %}">
                                            <img src="{{ game_review.game.cover|thumb:'normal' }}"
                                                alt="{{game_review.game.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{game_review.game.title}}">{{ game_review.game.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="collectionCreated">
                                <h5 class="entity-sort__label">
                                    {% trans '创建的收藏单' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ collections_count }}
                                </span>
                                {% if collections_more %}
                                <a href="{% url 'users:collection_list' user.mastodon_username %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}
                                {% if user == request.user %}
                                <a href="{% url 'collection:create' %}"class="entity-sort__more-link">{% trans '新建' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for collection in collections %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'collection:retrieve' collection.id %}">
                                            <img src="{{ collection.cover|thumb:'normal' }}"
                                                alt="{{collection.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collection.title}}">{{ collection.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="entity-sort" id="collectionMarked">
                                <h5 class="entity-sort__label">
                                    {% trans '关注的收藏单' %}
                                </h5>
                                <span class="entity-sort__count">
                                    {{ marked_collections_count }}
                                </span>
                                {% if marked_collections_more %}
                                <a href="{% url 'users:marked_collection_list' user.mastodon_username %}"
                                    class="entity-sort__more-link">{% trans '更多' %}</a>
                                {% endif %}

                                <ul class="entity-sort__entity-list">
                                    {% for collection in marked_collections %}
                                    <li class="entity-sort__entity">

                                        <a href="{% url 'collection:retrieve' collection.id %}">
                                            <img src="{{ collection.cover|thumb:'normal' }}"
                                                alt="{{collection.title}}" class="entity-sort__entity-img">
                                            <span class="entity-sort__entity-name"
                                                title="{{collection.title}}">{{ collection.title }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div>暂无记录</div>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                            
                        {% if user == request.user %}
                            
                        <div class="entity-sort-control">
                            <div class="entity-sort-control__button" id="sortEditButton">
                                <span class="entity-sort-control__text" id="sortEditText">
                                    {% trans '编辑布局' %}
                                </span>
                                <span class="entity-sort-control__text" id="sortSaveText" style="display: none;">
                                    {% trans '保存' %}
                                </span>
                                <span class="icon-edit" id="sortEditIcon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.947 383.947">
                                        <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893    " />
                                        <path
                                            d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04     C386.027,77.92,386.027,64.373,377.707,56.053z" />
                                    </svg>
                                </span>
                                <span class="icon-save" id="sortSaveIcon" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 384 384" >
                                        <path
                                            d="M298.667,0h-256C19.093,0,0,19.093,0,42.667v298.667C0,364.907,19.093,384,42.667,384h298.667    C364.907,384,384,364.907,384,341.333v-256L298.667,0z M192,341.333c-35.307,0-64-28.693-64-64c0-35.307,28.693-64,64-64    s64,28.693,64,64C256,312.64,227.307,341.333,192,341.333z M256,128H42.667V42.667H256V128z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="entity-sort-control__button" id="sortExitButton" style="display: none;">
                                <span class="entity-sort-control__text">
                                    {% trans '取消' %}
                                </span>
                            </div>
                        </div>
                        <div class="entity-sort-control__button entity-sort-control__button--float-right" id="toggleDisplayButtonTemplate" style="display: none;">
                            <span class="showText" style="display: none;">
                                {% trans '显示' %}
                            </span>
                            <span class="hideText" style="display: none;">
                                {% trans '隐藏' %}
                            </span>
                        </div>
                        <form action="{% url 'users:set_layout' %}" method="post" id="sortForm">
                            {% csrf_token %}
                            <input type="hidden" name="layout">
                        </form>
                        <script src="https://static.neodb.social/cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js" crossorigin="anonymous"></script>
                        <script src="{% static 'js/sort_layout.js' %}"></script>
                        {% endif %}
                        <script>
                            const initialLayoutData = JSON.parse("{{ layout|escapejs }}");
                            // initialize sort element visibility and order
                                initialLayoutData.forEach(elem => {
                                    // False to false, True to true
                                    if (elem.visibility === "False") {
                                        elem.visibility = false;
                                    } else {
                                        elem.visibility = true;
                                    }
                                    // set visiblity
                                    $('#' + elem.id).data('visibility', elem.visibility);
                                    if (!elem.visibility) {
                                        $('#' + elem.id).hide();
                                    }
                                    // order
                                    $('#' + elem.id).appendTo('.main-section-wrapper');
                                });
                        </script>

                    </div>

                    {% include "partial/_sidebar.html" %}
                </div>
            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>

    {% if unread_announcements %}
    {% include "partial/_announcement.html" %}
    {% endif %}
</body>
</html>