{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load highlight %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% if is_followers_page %}
    <title>{% trans 'Nicedb - 被他们关注' %}</title>
    {% else %}
    <title>{% trans 'Nicedb - 关注的人' %}</title>
    {% endif %}
    <script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <script src="{% static 'js/mastodon.js' %}"></script>
    
    {% if is_followers_page %}
    <script src="{% static 'js/followers_list.js' %}"></script>
    {% else %}
    <script src="{% static 'js/following_list.js' %}"></script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/boofilsic_browse.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            <section id="navbar" class="navbar">
                <div class="container">
                    <nav class="clearfix">
                        <a href="{% url 'common:home' %}">
                            <img src="{% static 'img/logo.svg' %}" alt="" class="logo">
                        </a>
                        <input type="search" class="search-box" name="keywords" 
                        value="{% if request.GET.keywords %}{{ request.GET.keywords }}{% endif %}" id="searchInput" required="true" placeholder="{% trans '搜索书影音，多个关键字以空格分割' %}">
                        <a class="nav-link" id="logoutLink" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                        <a class="nav-link" href="{% url 'common:home' %}">{% trans '主页' %}</a>
                        {% if request.user.is_staff %}   
                        <a class="nav-link" href="{% admin_url %}">{% trans '后台' %}</a>
                        {% endif %}
                    </nav>
                </div>
            </section>
        
            <section id="content" class="container">
                <div class="row">
                    <div id="main">
                        <div class="set">
                            <h5 class="set-title">
                                {% if is_followers_page %}
                                {% trans ' 被他们关注' %}
                                {% else %}
                                {% trans '关注的人' %}
                                {% endif %}                                
                            </h5>
                                    <div class="user clearfix">
                                        <img src="" alt="" class="avatar float-left">
                                        <div class="user-info float-left">
            
                                            <a href="">
                                                <div class="user-name"></div>
                                            </a>
                                            <p class="user-brief"></p>
                                        </div>
                                    </div>
                        </div>
                    </div>
        
                    <div id="aside">
                        <div class="aside-card mast-user" id="userInfoCard">
                            <div class="clearfix">
                                <img src="" class="info-avatar mast-avatar" alt="{{ user.username }}">
                                <a href="{% url 'users:home' user.id %}">
                                    <h5 class="info-name mast-displayname"></h5>
                                </a>
                            </div>
                            <p class="info-brief mast-brief"></p>
                            <!-- <a href="#" class="follow">{% trans '关注TA' %}</a> -->
                            
                            {% if request.user != user %}
                            <a href="#" class="report">{% trans '举报用户' %}</a>
                            {% endif %}
                                
                        </div>
                        <div class="relation-card" id="userRelationCard">
                            <h5 class="relation-label">
                                {% trans '关注的人' %}
                            </h5>
                            <a href="{% url 'users:following' user.id %}" class="more-link mast-following-more">{% trans '更多' %}</a>
                            <ul class="row mast-following relation-user-list">
                                <li class="column column-25 relation-user">
                                    <img src="" alt="" class="relation-avatar">
                                    <a class="relation-name"></a>
                                </li>
                            </ul>         
                            <h5 class="relation-label">
                                {% trans '被他们关注' %}
                            </h5>
                            <a href="{% url 'users:followers' user.id %}" class="more-link mast-followers-more">{% trans '更多' %}</a>
                            <ul class="row mast-followers relation-user-list">
                                <li class="column column-25 relation-user">
                                    <img src="" alt="" class="relation-avatar">
                                    <a class="relation-name"></a>
                                </li>
                            </ul>                    
                        </div>
                    </div>
            </section>
        </div>
        <footer class="container">
            <a href="https://donotban.com/@whitiewhite">去长毛象向作者提意见</a>
            <a href="https://github.com/doubaniux/boofilsic" id="githubLink">Github</a>
        </footer>
    </div>

    
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    <div id="userPageURL" hidden="true">{% url 'users:home' 0 %}</div>
    <div class="spinner" id="spinner" hidden>
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>    
    <script>
        $("#searchInput").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let keywords = $(this).val();
                if (keywords)
                    location.href = "{% url 'common:search' %}" + "?keywords=" + keywords;
            }
        });
    </script>
</body>


</html>
