
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% trans 'Nicedb - 登录' %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_square.jpg' %}">
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_box.css' %}">
    <title>{% trans 'Nicedb - 登录' %}</title>
</head>
<body>
    <div id="loginBox" class="box">


            <img src="{% static 'img/logo.svg' %}" class="logo" alt="boofilsic logo">
        
        <div id="loginButton">
            
            {% if user.is_authenticated %}
                <a href="{% url 'common:home' %}" class="button">{% trans '前往我的主页' %}</a>
            {% else %}
                <a href="{{ oauth_auth_url }}" class="button">{% trans '使用长毛象授权登录' %}</a>
            {% endif %}
                
        </div>

    </div>
</body>
</html>