
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ site_name }} - {% trans '登录' %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_square.jpg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skeleton-css@2.0.4/css/normalize.css">
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_box.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'lib/js/js.cookie.min.js' %}"></script>
    <title>{{ site_name }} - {% trans '登录' %}</title>
</head>
<body>
    <style>
        select {
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 20px;;
        }
    </style>
    <div id="loginBox" class="box">

            <img src="{% static 'img/logo.svg' %}" class="logo" alt="boofilsic logo">
        
        <div id="loginButton">
            
            
            {% if user.is_authenticated %}
            <a href="{% url 'common:home' %}" class="button">{% trans '前往我的主页' %}</a>
            {% elif allow_any_site %}
            <form action="/users/connect">
            <input type="search" name="domain" id="domain" placeholder="输入实例地址，例如mastodon.social" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            <input type='submit' value="{% trans '授权登录' %}" />
            </form>
            {% else %}            
            <select name="sites" id="sitesSelect" placeholder="test">
                {% for site in sites %}
                <option value="{{ site.domain_name }}" data-client-id="{{ site.client_id }}">@{{ site.domain_name }}</option>
                {% endfor %}
            </select>
            <button name='login'>{% trans '授权登录' %}</button>
            {% endif %}
                
        </div>

    </div>
    {% if not user.is_authenticated and not allow_any_site %}
    
    
    <script>
        {% if selected_site %}
        $("#sitesSelect").val("{{ selected_site }}");
        {% else %}
        $("#sitesSelect").val($("#sitesSelect option:first").val());
        {% endif %}
        $("button[name=login]").click(function(e) {
            e.preventDefault();
            let selected =  $("#sitesSelect").find(":selected");
            let client_id = selected.data("client-id");
            let domain = selected.val();

            Cookies.set('mastodon_domain', domain);
            {% if debug %}
            location.href = "https://" + domain + "/oauth/authorize?client_id=" + client_id + 
                "&scope=read+write&redirect_uri=http://{{ request.get_host }}{% url 'users:OAuth2_login' %}" +
                "&response_type=code";
            {% else %}
            location.href = "https://" + domain + "/oauth/authorize?client_id=" + client_id + 
                "&scope=read+write&redirect_uri=https://{{ request.get_host }}{% url 'users:OAuth2_login' %}" +
                "&response_type=code";
            {% endif %}
        });
    </script>
    {% endif %}
</body>
</html>