{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 设置</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/mastodon.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}

            <section id="content">
                <div class="grid grid--reverse-order">
                    <div class="grid__main grid__main--reverse-order">
                        <div class="main-section-wrapper">
                            <div class="tools-section-wrapper">
                                <div class="import-panel">
                                    <h5 class="import-panel__label">{% trans '社交网络分享相关设置' %}</h5>
                                    <div class="import-panel__body">
                                        <form action="{% url 'users:preferences' %}" method="POST">
                                            {% csrf_token %}
                                            <span>{% trans '在联邦网络上以公开方式分享的帖文是否发布到公共时间轴上：' %}</span>
                                            <div class="import-panel__checkbox import-panel__checkbox--last">
                                                <input type="checkbox" name="mastodon_publish_public" id="visibility" {%if request.user.preference.mastodon_publish_public%}checked{% endif %}>
                                                <label for="visibility">{% trans '选中时为public，未选中时为unlisted' %}</label>
                                            </div>
                                            <br><br>
                                            <span>{% trans '分享贴文时附加标签：' %}</span>
                                            <div class="import-panel__checkbox import-panel__checkbox--last">
                                                <input name="mastodon_append_tag" id="tag" placeholder="#我的书影音" value="{{ request.user.preference.mastodon_append_tag }}" >
                                                <label for="tag">{% trans '输入标签文字会被添加到贴文结尾' %}</label>
                                            </div>

                                            <div> 
                                                <input type="submit" class="import-panel__button" value="{% trans '保存' %}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include "partial/_sidebar.html" with show_follow=False %}
                </div>
            </section>

        </div>
            
        {% include "partial/_footer.html" %}
    </div>

</body>


</html>