{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skeleton-css@2.0.4/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_box.css' %}">
    <title>{{ site_name }} - {% trans '注册' %}</title>
</head>

<body>
    <div id="loginBox" class="box">

        <img src="{% static 'img/logo.svg' %}" class="logo" alt="boofilsic logo">

        <div id="loginButton">
            <p>欢迎来到{{ site_name }}！</p>
            <p>
                {{ site_name }}还在不断完善中，丰富的内容需要大家共同创造。
                试图添加垃圾数据（如添加信息混乱或缺失的书籍、以推广为主要目的的评论）将会受到严肃处理。
                {{ site_name }}继承了联邦宇宙的用户关系，比如您在联邦宇宙屏蔽了某人，那您将不会在书影音的公共区域看到TA的痕迹。
                本站为非盈利站点，cookie和其他数据保管使用原则请参阅<a href="/announcement/data-policy/">站内公告</a>。
            </p>
            <p>
                此外，{{ site_name }}现处于测试阶段，疏漏在所难免，请妥善备份您的数据。
                使用过程中遇到的问题或者错误欢迎向<a href="{{ support_link }}">维护者</a>提出。感谢理解和支持！
            </p>
            <form action="{% url 'common:home' %}">
                <input type="submit" class="button" value="{% trans 'Cut the sh*t and get me in!' %}">
            </form>

        </div>
    </div>

</body>

</html>