{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% trans 'Nicedb - 举报用户' %}</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <script src="{% static 'js/create_update.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            <section id="navbar" class="navbar">
                <div class="container">
                    <nav class="clearfix">
                        <a href="{% url 'common:home' %}">
                            <img src="{% static 'img/logo.svg' %}" alt="" class="logo">
                        </a>
                        <h4 class="nav-title">{% trans '举报用户' %}</h4>
                        
                        <a class="nav-link" id="logoutLink" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                        <a class="nav-link" href="{% url 'common:home' %}">{% trans '主页' %}</a>
                        {% if user.is_staff %}   
                        <a class="nav-link" href="{% admin_url %}">{% trans '后台' %}</a>
                        {% endif %}
                    </nav>
                </div>
            </section>
        
            <section id="content" class="container">
                <div class="row">
                    <div id="main">
                        <form action="{% url 'users:report' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <input class="button" type="submit" value="{% trans '提交' %}">
                        </form>
                    </div>
        
            </section>
        </div>
        <footer class="container">
            <a href="https://donotban.com/@whitiewhite">去长毛象向作者提意见</a>
            <a href="https://github.com/doubaniux/boofilsic" id="githubLink">Github</a>
        </footer>
    </div>

    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
        
    <script>
        $("#searchInput").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let keywords = $(this).val();
                if (keywords)
                    location.href = "{% url 'common:search' %}" + "?keywords=" + keywords;
            }
        });
    </script>
</body>


</html>
