{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/create_update_review.js' %}"></script>
    <script src="{% static 'lib/js/rating-star.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic.min.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            {% include "partial/_navbar.html" %}
        
            <section id="content">
                <div class="grid">
                    <div class="single-section-wrapper">
                        <div class="entity-card entity-card--horizontal">
                            <div class="entity-card__img-wrapper">
                                <a href="{% url 'books:retrieve' book.id %}">
                                    <img src="{{ book.cover|thumb:'normal' }}" alt="" class="item-image float-left">
                                </a>
                            </div>
                            <div class="entity-card__info-wrapper entity-card__info-wrapper--horizontal">
                                
                                <h5 class="entity-card__title"><a href="{% url 'books:retrieve' book.id %}">{{ book.title }}</a>
                                    <a href="{{ book.source_url }}">
                                        <span class="source-label source-label__{{ book.source_site }}">{{ book.get_source_site_display }}</span>
                                    </a>
                                </h5>
                                <div>{% if book.isbn %}{% trans 'ISBN：' %}{{ book.isbn }}{% endif %}</div>
                                <div>{% if book.author %}{% trans '作者：' %}
                                {% for author in book.author %}
                                    <span>{{ author }}</span>
                                {% endfor %}
                                {% endif %}</div>
                                <div>{% if book.pub_house %}{% trans '出版社：' %}{{ book.pub_house }}{% endif %}</div>
                                <div>{%if book.pub_year %}{% trans '出版时间：' %}{{ book.pub_year }}{% trans '年' %}{% if book.pub_month %}{{ book.pub_month }}{% trans '月' %}{% endif %}{% endif %}</div>
                                
                                {% if book.rating %}
                                {% trans '评分：' %}<span class="entity-card__rating-star rating-star" data-rating-score="{{ book.rating | floatformat:"0" }}"> </span>
                                <span class="entity-card__rating-score rating-score"> {{ book.rating }} </span>
                                {% endif %}              
                            </div>
                        </div>
                        <div class="dividing-line"></div>

                            <form action="{{ submit_url }}" method="post" class="review-form">
                                {% csrf_token %}
                                {{ form.book }}
                                <div>
                                {{ form.title.label }}
                                </div>
                                {{ form.title }}
                                <div class="clearfix">
                                    <span class="float-left">
                                        {{ form.content.label }}
                                    </span>
                                    <span class="float-right">
                                        <span class="review-form__preview-button">{% trans '预览' %}</span>
                                    </span>
                                </div>
                                <div id="rawContent">
                                    {{ form.content }}
                                </div>
                                <div class="review-form__fyi">{% trans '不知道什么是Markdown？可以参考' %}<a target="_blank" href="https://www.markdownguide.org/">{% trans '这里' %}</a></div>
                                <div class="review-form__option">
                                    <div class="review-form__visibility-radio">

                                        {{ form.is_private.label }}{{ form.is_private }}
                                    </div>
                                    <div class="review-form__share-checkbox">
                                        {{ form.share_to_mastodon }}{{ form.share_to_mastodon.label }}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <input class="button float-right" type="submit" value="{% trans '提交' %}">
                                </div>
                                {{ form.media }}
                            </form>

                    </div>
                    
                </div>
            </section>
        </div>
        {% include "partial/_footer.html" %}
    </div>
    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon  request.user.mastodon_site %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
        
    <script>

    </script>
</body>


</html>
