{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% trans 'Nicedb - 删除图书' %}</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <script src="{% static 'lib/js/rating-star.js' %}"></script>
    <script src="{% static 'js/rating-star-readonly.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/boofilsic_edit.css' %}">
</head>

<body>
    <div id="page-wrapper">
        <div id="content-wrapper">
            <section id="navbar" class="navbar">
                <div class="container">
                    <nav class="clearfix">
                        <a href="{% url 'common:home' %}">
                            <img src="{% static 'img/logo.svg' %}" alt="" class="logo">
                        </a>
                        <h4 class="nav-title">{% trans '删除图书' %}</h4>
                        
                        <a class="nav-link" id="logoutLink" href="{% url 'users:logout' %}">{% trans '登出' %}</a>
                        <a class="nav-link" href="{% url 'common:home' %}">{% trans '主页' %}</a>
                        {% if user.is_staff %}   
                        <a class="nav-link" href="{% admin_url %}">{% trans '后台' %}</a>
                        {% endif %}
                    </nav>
                </div>
            </section>
        
            <section id="content" class="container">
                <div class="row">
                    <div id="main">
                        <h4 class="prompt">{% trans '确认删除这本书吗？相关评论和标记将一并删除。' %}</h4>
                    
                        <div class="item-card">
                            <div class="clearfix">
                                <img src="{{ book.cover.url }}" alt="" class="item-image float-left">
                                <div class="item-info float-left">
                                    <a href="{% url 'books:retrieve' book.id %}">
                                        <h5 class="item-title">
                                        {{ book.title }}
                                        </h5>
                                    </a>
                                    {% if book.rating %}
                                    {% trans '评分：' %}
                                    <span class="rating-star" data-rating-score="{{ book.rating | floatformat:"0" }}">
                                    </span>
                                    <span class="rating-score">{{ book.rating }} </span>
                                    {% else %}
                                    <span>{% trans '评分：暂无评分' %}</span>
                                    {% endif %}             
                                    <div>{% trans '最近编辑者：' %}{{ book.last_editor | default:"" }}</div>
                                    <div>{% trans '上次编辑时间：' %}{{ book.edited_time }}</div>
                                </div>
                            </div>
                            <div class="dividing-line"></div>
                        </div>
                        <div class="clearfix">
                            <form action="{% url 'books:delete' book.id %}" method="post" class="float-right">
                                {% csrf_token %}
                                <input class="button" type="submit" value="{% trans '确认' %}">
                            </form>
                            <button onclick="history.back()" class="button button-clear float-right">{% trans '返回' %}</button>
                        </div>
                    </div>
            </section>

        </div>
        <footer class="container">
            <a href="https://donotban.com/@whitiewhite">去长毛象向作者提意见</a>
            <a href="https://github.com/doubaniux/boofilsic/issues">报告错误</a>
            <a href="https://github.com/doubaniux/boofilsic" id="githubLink">Github</a>
        </footer>
    </div>

    
    {% comment %}        
    <div id="oauth2Token" hidden="true">{% oauth_token %}</div>
    <div id="mastodonURI" hidden="true">{% mastodon %}</div>
    <!--current user mastodon id--> 
    <div id="userMastodonID" hidden="true">{{ user.mastodon_id }}</div>
    {% endcomment %}
        
    <script>
        $("#searchInput").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let q = $(this).val();
                if (q)
                    location.href = "{% url 'common:search' %}" + "?q=" + q;
            }
        });
    </script>
</body>


</html>
