{% extends "list_item_base.html" %}

{% load i18n %}
{% load highlight %}

{% block info %}

{% if item.other_title %}{% trans '别名' %}:
{% for other_title in item.other_title %}
{{ other_title }}{% if not forloop.last %} {% endif %}
{% endfor %}/
{% endif %}

{% if item.developer %}{% trans '开发商' %}:
{% for developer in item.developer %}
{{ developer }}{% if not forloop.last %} {% endif %}
{% endfor %}/
{% endif %}

{% if item.genre %}{% trans '类型' %}:
{% for genre in item.genre %}
{{ genre }}{% if not forloop.last %} {% endif %}
{% endfor %}/
{% endif %}

{% if item.platform %}{% trans '平台' %}:
{% for platform in item.platform %}
{{ platform }}{% if not forloop.last %} {% endif %}
{% endfor %}
{% endif %}

{% endblock %}
