{% extends "list_item_base.html" %}

{% load i18n %}
{% load highlight %}

{% block info %}
{% if item.pub_year %} /
{{ item.pub_year }}{% trans '年' %}{% if item.pub_month %}{{item.pub_month }}{% trans '月' %}{% endif %}
{% endif %}

{% if item.author %} /
{% for author in item.author %}
{% if request.GET.q %}
{{ author | highlight:request.GET.q }}
{% else %}
{{ author }}
{% endif %}
{% if not forloop.last %},{% endif %}
{% endfor %}
{% endif %}

{% if item.translator %} /
{% trans '翻译' %}:
{% for translator in item.translator %}
{% if request.GET.q %}
{{ translator | highlight:request.GET.q }}
{% else %}
{{ translator }}
{% endif %}
{% if not forloop.last %},{% endif %}
{% endfor %}
{% endif %}

{% if item.subtitle %} /
{% trans '副标题' %}:
{% if request.GET.q %}
{{ item.subtitle | highlight:request.GET.q }}
{% else %}
{{ item.subtitle }}
{% endif %}
{% endif %}

{% if item.orig_title %} /
{% trans '原名' %}:
{% if request.GET.q %}
{{ item.orig_title | highlight:request.GET.q }}
{% else %}
{{ item.orig_title }}
{% endif %}
{% endif %}
{% endblock %}
