{% extends "list_item_base.html" %}

{% load i18n %}
{% load highlight %}


{% block info %}

{% if item.director %}{% trans '导演' %}:
{% for director in item.director %}
{% if request.GET.q %}
{{ director | highlight:request.GET.q }}
{% else %}
{{ director }}
{% endif %}
{% if not forloop.last %},{% endif %}
{% endfor %}/
{% endif %}

{% if item.genre %}{% trans '类型' %}:
{% for genre in item.genre %}
{{ genre }}{% if not forloop.last %} {% endif %}
{% endfor %}/
{% endif %}

{% endblock %}

{% block info_full %}

{% if item.actor %}{% trans '主演' %}:
{% for actor in item.actor %}
<span {% if forloop.counter > 5 %}style="display: none;" {% endif %}>
{% if request.GET.q %}
{{ actor | highlight:request.GET.q }}
{% else %}
{{ actor }}
{% endif %}
</span>
{% if forloop.counter <= 5 %}
    {% if not forloop.counter == 5 and not forloop.last %} {% endif %}
{% endif %}
{% endfor %}
{% endif %}


{% endblock %}
